i\:cpanel-tab {
	display: block;
	padding: 10px 20px;
	font: 24px/1 'Times New Roman', serif;
	color: black;
	background: none;
}

a:hover i\:cpanel-tab {
	background: #ddd;
}

i\:cpanel-tab.current\=true,
a.target\=true i\:cpanel-tab {
	background: #fff;
}

a:hover i\:cpanel-tab.current\=true {
	background: #fff;
}
