i\:panel,
.i-panel {
	display: block;
	margin: auto;
	width: 100%\9;
	max-width: 1100px;
    text-align: left;
    position: relative;
    $overflow: hidden;

    padding: 0 10px;
    padding: 3px 10px 0 13px \9;
    $padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

   	-moz-border-radius: 10px;
	border-radius: 10px;

    border: 1px solid #bbb;
    border: none\9;

	background: url( '../../iface/panel/panel_bg.svg' ) #fff;
	background: -moz-linear-gradient( left, #ccc, #fff );
	background: -webkit-gradient( linear, left top, right top, from( #ccc ), to( #fff ) );
    background: none\9; /* ie8- */

	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow: 2px 2px 4px #ccc;
	box-shadow: 2px 2px 4px #ccc;
}
